html {
  font-size: 16px;

}

body {
  background-attachment: fixed;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}
.content {
  position: relative;
  /*top: 2rem;*/
  justify-content: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  letter-spacing: 4px;
  padding: 0.5rem 1rem;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}
header .button {
  padding: 0.5rem 1rem;
  vertical-align: middle;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}
header .title {
    display: flex;
    align-items: center;
}
header .button:hover{
  background-color: lightgray;
  transition: background-color, 0.7s;
  border-radius: 2rem;
}
.truncated-menu {
  display: none;
}
.links {
  display: flex;
}
header a {
  text-decoration: none;
  vertical-align: middle;
}

.smaller {
  background-color: hsl(0, 0%, 20%);
  transition: background-color, 0.5s;
}

@media only screen and (max-width: 680px) {
    .links {
      display: none;
    }
    .truncated-menu {
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }
    header {
        background-color: hsl(0, 0%, 20%);
    }
    .content {
      top: 3rem;
    }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* BANNER */
.banner {
  position: relative;

}
.banner img {
  width: 100%;
  object-fit: contain;
}
.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  color: white;
  font-weight: 400;
}
/*
@media only screen and (max-width: 1070px) {
  .content {
    top: 4rem;
  }
}
*/
footer {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}
.logo {
  width: 5%;
  height: 5%;
}

#faa{
  float: left;
}
#caa {
  float: right;
}
#medicals img {
  height: 340;
  width: 420;
}

/* CONTACT */
#contact-title {
  font-weight: bold;
}
.contact-address p {
  margin: 0;
}
